.l-header_title_color {
    font-family: Roboto;
    color: #707070;
    font-size: 40px;
    font-weight: normal;
}

.l-label_color {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #707070;
}

.l-qanda_color {
    border-radius: 10px;
    border: 1px solid #707070;
    background: linear-gradient(to top, #F2EDE9, #DED8D3);
}