.c-font-color {
    font-weight: normal;
    color: #3c2a10;
}

.c-image-text {
    font-weight: bold;
    line-height: 0;
}

.c-heading,
.c-heading-text,
button {
    font-family: "M+ 1m";
    font-weight: bold;
}