footer {
    width: 100%;
    height: 150px;
    line-height: 3;
    text-align: center;
    background-color: #9D8670;
    color: #FFFFFF;
    position: absolute;
        .l-footer-nav 
        span{
            font-size: 20px;
            margin-top: 20px;
            display: inline-block;
        
        p{
                display: inline-block;
                margin: 0px;
            }
        }
    }