.l-side {
    width: 20%;
    background-color: #F2EDE9;
    height: inherit;
    @include tab {
        box-sizing: border-box;
        background-color: #F2EDE9;
        position: absolute;
        right: 0px;
        width: 30%;
        height: 100%;
        z-index: 90;
        &.active {
            display: none;
        }
    }
    .o-dli-close {
        &.open {
            display: none;
            &.active {
                display: none;
            }
        }
        @include tab {
            display: inline-block;
            vertical-align: middle;
            color: #333;
            top: 20px;
            left: 77%;
            line-height: 1;
            width: 1.5em;
            height: 0.2em;
            background: currentColor;
            border-radius: 0.1em;
            position: relative;
            transform: rotate(45deg);
            z-index: 999;
            color: #707070;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: inherit;
                border-radius: inherit;
                transform: rotate(90deg);
                z-index: 999;
            }
        }
    }
    .l-menu {
        color: #707070;
        font-weight: normal;
        padding: 0px 0 40px 30px;
        @include tab {
            padding-top: 150px;
        }
        h2 {
            margin: 0;
            padding: 50px 0px 40px 0px;
            @include tab {
                display: none;
            }
        }
        ul {
            padding: 0px 0 0 20px;
            li {
                list-style: none;
                line-height: 35px;
            }
        }
    }
}