@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

footer {
  width: 100%;
  line-height: 3;
  text-align: center;
  background-color: #9D8670;
  color: #FFFFFF;
  position: absolute;
  z-index: 10;
}
footer .l-footer-nav span {
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
}
footer .l-footer-nav span p {
  display: inline-block;
  margin: 0px;
}

.l-form-group {
  width: 100%;
  left: 20px;
  background-color: #FFF7EF;
}
@media (max-width: 834px) {
  .l-form-group {
    text-align: center;
    display: block;
    width: 100%;
    height: 217px;
  }
}
.l-form-group .l-header-form {
  display: flex;
}
@media (max-width: 834px) {
  .l-form-group .l-header-form {
    display: inline-block;
    width: 100%;
  }
}
.l-form-group .l-header-form h1 {
  margin: 40px;
  color: #707070;
}
@media (max-width: 834px) {
  .l-form-group .l-header-form h1 {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 32px;
  }
}
.l-form-group .l-header-form .l-form {
  position: absolute;
  top: 50px;
  right: 25%;
  width: 300px;
}
@media (max-width: 834px) {
  .l-form-group .l-header-form .l-form {
    margin: 80px 30px 20px 0;
    left: 5%;
    width: 100%;
  }
}
.l-form-group .l-header-form .l-form .l-label {
  width: 65%;
  height: 30px;
  color: #F2EDE9;
  border-radius: 7px;
}
@media (max-width: 834px) {
  .l-form-group .l-header-form .l-form .l-label {
    width: 55%;
    height: 46px;
  }
}
.l-form-group .l-header-form .l-form .l-qanda {
  width: 20%;
  height: 30px;
  border-radius: 7px;
  background: linear-gradient(to top, #F2EDE9, #DED8D3);
}
@media (max-width: 834px) {
  .l-form-group .l-header-form .l-form .l-qanda {
    width: 20%;
    height: 46px;
    display: inline-block;
  }
}

.l-side {
  box-sizing: border-box;
  background-color: #F2EDE9;
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100%;
}
@media (max-width: 834px) {
  .l-side {
    display: none;
  }
}
.l-side .l-menu {
  color: #707070;
  font-weight: normal;
  padding: 30px 0 40px 30px;
}
.l-side .l-menu h2 {
  margin: 0;
  padding: 50px 0px 40px 0px;
}
.l-side .l-menu ul {
  padding: 10px 0 0 20px;
}
.l-side .l-menu ul li {
  list-style: none;
  line-height: 35px;
}

.c-module {
  position: relative;
  display: flex;
  width: 100%;
}
.c-module .l-main {
  width: 80%;
}
@media (max-width: 834px) {
  .c-module .l-main {
    width: 100%;
  }
}
.c-module .l-main .c-sample {
  width: 100%;
}
@media (max-width: 834px) {
  .c-module .l-main .c-sample {
    width: 100%;
  }
}
.c-module .l-main .c-image {
  position: relative;
}
.c-module .l-main .c-image::before {
  content: "ダミーサイト";
  position: absolute;
  top: 40%;
  left: 40px;
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF7EF;
}
@media (max-width: 834px) {
  .c-module .l-main .c-image::before {
    font-size: 36px;
  }
}
.c-module .l-main .c-img-list {
  line-height: 0;
}
.c-module .l-main .c-img-list .c-flex {
  display: flex;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout {
  width: 40%;
  position: relative;
  margin: 5% 5%;
}
@media (max-width: 834px) {
  .c-module .l-main .c-img-list .c-flex .c-img-takeout {
    width: 60%;
    font-size: 55px;
    margin: 5% 3%;
  }
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img {
  position: relative;
  width: 100%;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img .c-takeout {
  position: relative;
  max-width: 100%;
  height: auto;
  width/***/: auto;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img p {
  position: absolute;
  display: inline-block;
  top: 0%;
  left: 10%;
  font-size: 55px;
  color: #FFF7EF;
  font-family: Roboto;
}
@media (max-width: 834px) {
  .c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img p {
    font-size: 55px;
  }
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img p::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 5px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50px;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img .c-out-img {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 25%;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img .c-out-img .c-out1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
  background-color: #FFFFFF;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img .c-out-img .c-out1 span {
  padding: 20px;
  display: inline-block;
  font-size: 20px;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img .c-out-img .c-out1 p {
  display: inline-block;
  font-size: 15px;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img .c-out-img .c-out2 {
  box-sizing: border-box;
  display: block;
  margin-top: 5%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img .c-out-img .c-out2 span {
  padding: 20px;
  display: inline-block;
  font-size: 20px;
}
.c-module .l-main .c-img-list .c-flex .c-img-takeout .c-img .c-out-img .c-out2 p {
  display: inline-block;
  font-size: 15px;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin {
  width: 40%;
  position: relative;
  margin: 5% 5%;
}
@media (max-width: 834px) {
  .c-module .l-main .c-img-list .c-flex .c-img-eatin {
    width: 60%;
    margin: 5% 3%;
    font-size: 55px;
  }
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 {
  position: relative;
  width: 100%;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 .c-EatIn {
  position: relative;
  max-width: 100%;
  height: auto;
  width/***/: auto;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 p {
  display: inline-block;
  top: 0%;
  left: 10%;
  font-size: 55px;
  position: absolute;
  color: #FFF7EF;
  font-family: Roboto;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 p::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 5px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50px;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 .c-eat-img {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 25%;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 .c-eat-img .c-eat1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
  background-color: #FFFFFF;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 .c-eat-img .c-eat1 span {
  padding: 20px;
  display: inline-block;
  font-size: 20px;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 .c-eat-img .c-eat1 p {
  font-size: 15px;
  color: black;
  text-align: center;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 .c-eat-img .c-eat2 {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
  background-color: #FFFFFF;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 .c-eat-img .c-eat2 span {
  padding: 20px;
  display: inline-block;
  font-size: 20px;
}
.c-module .l-main .c-img-list .c-flex .c-img-eatin .c-img2 .c-eat-img .c-eat2 p {
  display: inline-block;
  font-size: 15px;
  text-align: center;
}
.c-module .c-example {
  width: 100%;
  position: relative;
  line-height: 0;
}
@media (max-width: 834px) {
  .c-module .c-example {
    width: 100%;
  }
}
.c-module .c-example .c-blok {
  position: absolute;
  display: block;
  width: 60%;
  background: rgba(66, 64, 64, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
@media (max-width: 834px) {
  .c-module .c-example .c-blok {
    width: 100%;
  }
}
.c-module .c-example .c-blok span {
  position: absolute;
  top: 15%;
  left: 70px;
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF7EF;
}
@media (max-width: 834px) {
  .c-module .c-example .c-blok span {
    top: 40px;
  }
}
.c-module .c-example .c-blok .text {
  position: absolute;
  top: 10%;
  width: 90%;
  height: 45%;
}
.c-module .c-example .c-blok .text p {
  position: absolute;
  top: 70px;
  left: 70px;
  display: inline-block;
  line-height: 1.5em;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5rem;
}
@media (max-width: 834px) {
  .c-module .c-example .c-blok .text p {
    top: 35%;
    width: 90%;
  }
}
.c-module .c-example .c-sample4 {
  width: 100%;
  background-color: black;
  position: relative;
}
@media (max-width: 834px) {
  .c-module .c-example .c-sample4 {
    width: 100%;
  }
}
.c-module .c-example::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  left: 70px;
  top: 25%;
  z-index: 10;
}