@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  line-height: 0;
}

h4,
h5,
h6 {
  margin-bottom: 80px;
  display: block;
  font-size: 20px;
  text-align: left;
}

footer {
  width: 100%;
  height: 150px;
  line-height: 3;
  text-align: center;
  background-color: #9D8670;
  color: #FFFFFF;
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 0;
}
footer .l-footer-nav span {
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
}
footer .l-footer-nav span p {
  display: inline-block;
  margin: 0px;
}

.l-form-group {
  width: 100%;
  height: 27vh;
  background-color: #FFF7EF;
  position: relative;
  display: inline-block;
}
@media (max-width: 900px) {
  .l-form-group {
    width: 100%;
    height: 35vh;
  }
}
@media (max-width: 900px) {
  .l-form-group {
    display: inline-block;
    width: 100%;
  }
}
.l-form-group h1 {
  position: absolute;
  top: 30%;
  margin-left: 20px;
  color: #707070;
  font-size: 40px;
}
@media (max-width: 900px) {
  .l-form-group h1 {
    display: inline-block;
    font-size: 40px;
    left: 30%;
    top: 15%;
  }
}
@media (max-width: 576px) {
  .l-form-group h1 {
    font-size: 40px;
    left: 20%;
    top: 20%;
  }
}
.l-form-group .l-form {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 40%;
}
@media (max-width: 900px) {
  .l-form-group .l-form {
    top: 60%;
    left: 15%;
    width: 90%;
  }
}
@media (max-width: 576px) {
  .l-form-group .l-form {
    width: 100%;
    left: 10%;
  }
}
.l-form-group .l-form .l-label {
  width: 65%;
  height: 30px;
  color: #F2EDE9;
  border-radius: 7px;
}
@media (max-width: 900px) {
  .l-form-group .l-form .l-label {
    width: 55%;
    height: 46px;
  }
}
.l-form-group .l-form .l-qanda {
  width: 20%;
  height: 30px;
  border-radius: 7px;
  background: linear-gradient(to top, #F2EDE9, #DED8D3);
}
@media (max-width: 900px) {
  .l-form-group .l-form .l-qanda {
    width: 20%;
    height: 46px;
    display: inline-block;
  }
}

.l-side {
  width: 20%;
  background-color: #F2EDE9;
  height: inherit;
}
@media (max-width: 900px) {
  .l-side {
    display: none;
  }
  .l-side.active {
    display: inline-block;
    box-sizing: border-box;
    background-color: #F2EDE9;
    position: absolute;
    right: 0px;
    width: 30%;
    height: 100%;
    z-index: 90;
  }
}
@media (max-width: 576px) {
  .l-side {
    display: none;
  }
  .l-side.active {
    width: 50%;
  }
}
.l-side .o-dli-close.open {
  display: none;
}
.l-side .o-dli-close.open.active {
  display: none;
}
@media (max-width: 900px) {
  .l-side .o-dli-close {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    top: 20px;
    left: 77%;
    line-height: 1;
    width: 1.5em;
    height: 0.2em;
    background: currentColor;
    border-radius: 0.1em;
    position: relative;
    transform: rotate(45deg);
    z-index: 999;
    color: #707070;
  }
  .l-side .o-dli-close::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
    z-index: 999;
  }
}
.l-side .l-menu {
  color: #707070;
  font-weight: normal;
  padding: 0px 0 40px 30px;
}
@media (max-width: 900px) {
  .l-side .l-menu {
    padding-top: 150px;
  }
}
.l-side .l-menu h2 {
  margin: 0;
  padding: 50px 0px 40px 0px;
}
@media (max-width: 900px) {
  .l-side .l-menu h2 {
    display: none;
  }
}
.l-side .l-menu ul {
  padding: 0px 0 0 20px;
}
.l-side .l-menu ul li {
  list-style: none;
  line-height: 35px;
}

.o-button {
  display: none;
}
@media (max-width: 900px) {
  .o-button {
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 34px;
    color: #707070;
  }
}
@media (max-width: 900px) and (max-width: 576px) {
  .o-button {
    font-size: 20px;
    top: 25px;
  }
}

.c-module {
  position: relative;
  display: flex;
  width: 100%;
}
.c-module .l-main {
  width: 80%;
}
@media (max-width: 900px) {
  .c-module .l-main {
    width: 100%;
  }
}
.c-module .l-main .c-image {
  position: relative;
  line-height: 0;
  width: 100%;
  height: 30vw;
  background-image: url(image/hamburger.png);
  background-size: cover;
}
@media (max-width: 900px) {
  .c-module .l-main .c-image {
    width: 100%;
    height: 35vw;
  }
}
@media (max-width: 576px) {
  .c-module .l-main .c-image {
    width: 100%;
    height: 60vh;
    background-image: url(image/hamburger2.png);
    background-position: 60% 50%;
    background-size: cover;
  }
}
.c-module .l-main .c-image::before {
  content: "ダミーサイト";
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #FFF7EF;
}
@media (max-width: 900px) {
  .c-module .l-main .c-image::before {
    font-size: 36px;
  }
}
.c-module .l-main .c-img {
  width: 80%;
}
.c-module .l-main .c-img .c-img-left {
  display: flex;
}
.c-module .l-main .c-img .c-img-left .c-single-img {
  flex-basis: 40%;
}
.c-module .l-main .c-img .c-img-left .c-single-img .c-sample {
  object-fit: cover;
}
.c-module .l-main .c-img .c-img-left .c-single-img p {
  position: absolute;
  display: inline-block;
  top: 0%;
  left: 10%;
  font-size: 55px;
  color: #FFF7EF;
  font-family: Roboto;
}
@media (max-width: 900px) {
  .c-module .l-main .c-img .c-img-left .c-single-img p {
    font-size: 55px;
  }
}
.c-module .l-main .c-img .c-img-left .c-single-img p::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 5px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50px;
}
.c-module .l-main .c-img .c-out-img {
  position: absolute;
  width: 100%;
  height: 148px;
}
.c-module .l-main .c-img .c-out-img .c-out1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 300px;
  background-color: #ffffff;
  background-color: rgba(247, 247, 247, 0.767);
}
.c-module .l-main .c-img .c-out-img .c-out1 h4 {
  font-weight: bold;
  font-family: "M+ 1m";
  padding-left: 5px;
  display: inline-block;
  font-size: 24px;
}
.c-module .l-main .c-img .c-out-img .c-out1 p {
  margin-left: 2%;
  margin-right: auto;
  font-family: regular;
  font-size: 16px;
  line-height: 1;
}
.c-module .l-main .c-img .c-out-img .c-out2 {
  position: absolute;
  box-sizing: border-box;
  display: block;
  margin-top: 5%;
  background-color: #FFFFFF;
  background-color: rgba(247, 247, 247, 0.767);
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 148px;
}
.c-module .l-main .c-img .c-out-img .c-out2 h4 {
  padding-left: 5px;
  font-size: 24px;
  display: inline-block;
  font-weight: bold;
  font-family: "M+ 1m";
}
.c-module .l-main .c-img .c-out-img .c-out2 p {
  margin-left: 2%;
  margin-right: auto;
  font-family: regular;
  font-size: 16px;
  line-height: 1;
}
.c-module .c-map {
  width: 100%;
  height: 649px;
  position: relative;
  line-height: 0;
  background-color: black;
  background-image: url(image/mapping.png);
  background-size: cover;
}
@media (max-width: 900px) {
  .c-module .c-map {
    width: 100%;
    height: 415px;
  }
}
@media (max-width: 576px) {
  .c-module .c-map {
    width: 100%;
    height: 691px;
  }
}
.c-module .c-map .c-heading {
  position: absolute;
  display: block;
  width: 60%;
  height: 649px;
  background: rgba(66, 64, 64, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
@media (max-width: 900px) {
  .c-module .c-map .c-heading {
    width: 100%;
    height: 415px;
  }
}
@media (max-width: 576px) {
  .c-module .c-map .c-heading {
    width: 100%;
    height: 415px;
    background: rgba(66, 64, 64, 0.5);
  }
}
.c-module .c-map .c-heading span {
  position: absolute;
  top: 15%;
  left: 70px;
  font-size: 36px;
  font-weight: bold;
  color: #FFF7EF;
}
.c-module .c-map .c-heading span::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  top: 75.5px;
  z-index: 10;
}
@media (max-width: 900px) {
  .c-module .c-map .c-heading span::before {
    top: 40px;
  }
}
@media (max-width: 576px) {
  .c-module .c-map .c-heading span::before {
    top: 60px;
  }
}
@media (max-width: 900px) {
  .c-module .c-map .c-heading span {
    top: 40;
    left: 42px;
  }
}
.c-module .c-map .c-heading p {
  position: absolute;
  top: 200px;
  left: 70px;
  width: 80%;
  height: 356px;
  display: inline-block;
  line-height: 1.7em;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  font-family: "M+ 1m";
}
@media (max-width: 900px) {
  .c-module .c-map .c-heading p {
    top: 35%;
    width: 90%;
    left: 42px;
  }
}
@media (max-width: 576px) {
  .c-module .c-map .c-heading p {
    line-height: 40px;
    width: 400px;
    top: 140px;
    font-size: 14px;
    font-weight: bold;
    font-family: "M+ 1m";
  }
}

.c-archive-image {
  position: relative;
  width: 80%;
  height: 239px;
  background-position: right 0% top 51.5%;
  background-size: cover;
  background-image: url(image/archive.png);
}
@media (max-width: 900px) {
  .c-archive-image {
    width: 100%;
    height: 239px;
  }
}
.c-archive-image::before {
  display: inline-block;
  width: 100%;
  height: 239px;
  content: "";
  background: transparent;
  opacity: 0.5;
  background: #000;
}
.c-archive-image h1 {
  position: relative;
  font-weight: bold;
  font-size: 60px;
  font-family: Roboto;
  color: #FFF7EF;
  top: -75%;
  left: 86px;
}
.c-archive-image h1::after {
  content: "チーズバーガー";
  font-family: "M+ 1m";
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 10px;
}

article {
  margin-top: 60px;
  margin-left: 40px;
  color: #3c2a10;
  font-family: "M+ 1m";
  font-weight: bold;
}
@media (max-width: 900px) {
  article {
    margin-left: 35px;
  }
}
article .c-info h2 {
  font-size: 36px;
  text-align: left;
}
article .c-info p {
  display: inline-block;
  width: 80%;
  height: 71px;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  line-height: 23px;
}
@media (max-width: 900px) {
  article .c-info p {
    width: 95%;
    height: 100px;
  }
}
article .c-top {
  background-color: #3c2a10;
  margin-top: 70px;
  position: relative;
  width: 80%;
  height: 70vh;
}
@media (max-width: 900px) {
  article .c-top {
    width: 95%;
    height: 70vh;
  }
}
article .c-top h3 {
  position: absolute;
  top: 7%;
  left: 53%;
  font-size: 26px;
  text-align: left;
  color: #fff;
}
@media (max-width: 900px) {
  article .c-top h3 {
    top: 20px;
    font-size: 20px;
  }
}
article .c-top span {
  position: absolute;
  top: 33%;
  left: 53%;
  font-family: "M+ 1m";
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #fff;
}
@media (max-width: 900px) {
  article .c-top span {
    top: 100px;
    font-size: 16px;
  }
}
article .c-top p {
  display: inline-block;
  position: absolute;
  top: 38%;
  left: 53%;
  width: 40%;
  height: 73px;
  font-family: "M+ 1m";
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: #fff;
  line-height: 23px;
}
@media (max-width: 900px) {
  article .c-top p {
    top: 110px;
    font-size: 16px;
  }
}
article .c-top .c-button_wrapper {
  position: absolute;
  top: 75%;
  text-align: center;
  right: 10%;
  width: 300px;
}
@media (max-width: 900px) {
  article .c-top .c-button_wrapper {
    right: 5%;
  }
}
article .c-top .c-button_wrapper .button-top {
  width: 252px;
  height: 76px;
  display: inline-block;
  background: transparent;
  border-radius: 45px;
  background-color: #fff;
}
@media (max-width: 900px) {
  article .c-top .c-button_wrapper .button-top {
    width: 163.16px;
    height: 45.47px;
    background: transparent;
    background-color: #fff;
  }
}
article .c-top .c-mune-top {
  position: absolute;
  background-image: url(image/mune-top.png);
  width: 50%;
  height: 70vh;
  background-size: cover;
}
@media (max-width: 900px) {
  article .c-top .c-mune-top {
    width: 50%;
    height: 70vh;
  }
}

.c-single {
  position: relative;
  width: 80%;
  height: 500px;
}
@media (max-width: 900px) {
  .c-single {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 576px) {
  .c-single {
    width: 100%;
    height: 225px;
  }
}
.c-single .c-single-img {
  width: 100%;
  height: 500px;
  object-fit: none;
}
@media (max-width: 900px) {
  .c-single .c-single-img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .c-single .c-single-img {
    width: 100%;
    height: 225px;
  }
}
.c-single h1 {
  position: absolute;
  top: 40%;
  font-family: "M+ 1m";
  font-weight: bold;
  font-size: 60px;
  text-align: left;
  color: #fff;
  left: 80px;
}
@media (max-width: 576px) {
  .c-single h1 {
    left: 40px;
    top: 45%;
    font-size: 46px;
  }
}

.container {
  margin-top: 40px;
  margin-left: 35px;
  margin-right: 35px;
  font-family: "M+ 1m";
  font-weight: bold;
  color: #3c2a10;
}
@media (max-width: 576px) {
  .container {
    margin-top: 10px;
  }
}
.container .wapper {
  margin-left: 0px;
  margin-bottom: 60px;
}
.container .wapper h2 {
  margin-bottom: 40px;
  display: block;
  font-size: 36px;
  text-align: left;
}
@media (max-width: 576px) {
  .container .wapper h2 {
    margin-bottom: 30px;
  }
}
.container .wapper p {
  margin-bottom: 40px;
  line-height: 23px;
  width: 80%;
  height: 71px;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  overflow: hidden;
}
@media (max-width: 900px) {
  .container .wapper p {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .container .wapper p {
    height: 183px;
  }
}
.container h3 {
  margin-bottom: 80px;
  display: block;
  font-size: 28px;
}
.container .c-quotes {
  position: relative;
  background: #f5f5f5;
  width: 80%;
  height: 319px;
  font-family: "M+ 1m";
  font-weight: normal;
  font-size: 16px;
  color: #3c2a10;
}
@media (max-width: 900px) {
  .container .c-quotes {
    width: 100%;
    height: 444px;
  }
}
@media (max-width: 576px) {
  .container .c-quotes {
    width: 100%;
    height: 617px;
  }
}
.container .c-quotes p {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 25px;
  width: 90%;
  height: 137px;
  font-size: 16px;
  text-align: left;
  overflow: hidden;
}
@media (max-width: 900px) {
  .container .c-quotes p {
    width: 90%;
    height: 252px;
    top: 30px;
    left: 30px;
  }
}
@media (max-width: 576px) {
  .container .c-quotes p {
    top: 20px;
    left: 20px;
    width: 90%;
    height: 510px;
  }
}
.container .c-quotes span {
  position: absolute;
  display: inline-block;
  top: 280px;
  left: 50px;
}
@media (max-width: 900px) {
  .container .c-quotes span {
    top: 400px;
    left: 30px;
  }
}
@media (max-width: 576px) {
  .container .c-quotes span {
    top: 580px;
    left: 20px;
  }
}

.related {
  position: relative;
}
.related .img-related {
  width: 80%;
  height: 400px;
  background-size: cover;
}
@media (max-width: 900px) {
  .related .img-related {
    width: 100%;
    height: 264px;
  }
}

.c-post-wrapper {
  margin-top: 60px;
  width: 100%;
  height: 250px;
}
@media (max-width: 576px) {
  .c-post-wrapper {
    width: 100%;
    height: 160px;
    margin-top: 30px;
  }
}
.c-post-wrapper .c-post {
  display: flex;
  width: 100%;
}
.c-post-wrapper .c-post .c-post-img {
  background-size: cover;
  width: 40%;
  height: auto;
  border: 1px solid #707070;
}
@media (max-width: 900px) {
  .c-post-wrapper .c-post .c-post-img {
    width: 306px;
  }
}
@media (max-width: 576px) {
  .c-post-wrapper .c-post .c-post-img {
    width: 146px;
    height: 89px;
  }
}
.c-post-wrapper .c-post .c-text {
  margin-top: 0;
  margin-left: 20px;
  display: inline-block;
  width: 40%;
  height: 191px;
  font-family: "M+ 1m";
  font-weight: normal;
  font-size: 16px;
  color: #3c2a10;
  line-height: 23px;
}
@media (max-width: 900px) {
  .c-post-wrapper .c-post .c-text {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .c-post-wrapper .c-post .c-text {
    width: 337px;
    height: 164px;
    overflow: hidden;
  }
}

.c-text-wrapper {
  margin-top: 7%;
  width: 100%;
  height: 350px;
}
@media (max-width: 900px) {
  .c-text-wrapper {
    margin-top: 30%;
  }
}
@media (max-width: 576px) {
  .c-text-wrapper {
    width: 100%;
    height: 160px;
    margin-top: 30px;
  }
}
.c-text-wrapper .c-text-left {
  margin-top: 0;
  display: block;
  width: 40%;
  height: 191px;
  font-family: "M+ 1m";
  font-weight: normal;
  font-size: 16px;
  color: #3c2a10;
  line-height: 23px;
}
@media (max-width: 900px) {
  .c-text-wrapper .c-text-left {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .c-text-wrapper .c-text-left {
    width: 337px;
    height: 164px;
    overflow: hidden;
  }
}
.c-text-wrapper .c-post-right {
  display: flex;
  width: 100%;
}
.c-text-wrapper .c-post-right .c-post-img {
  margin-left: 20px;
  width: 40%;
  height: auto;
  border: 1px solid #707070;
}
@media (max-width: 900px) {
  .c-text-wrapper .c-post-right .c-post-img {
    width: 306px;
  }
}
@media (max-width: 576px) {
  .c-text-wrapper .c-post-right .c-post-img {
    width: 146px;
    height: 89px;
  }
}

.c-middle-wrapper {
  width: 80%;
}
@media (max-width: 900px) {
  .c-middle-wrapper {
    margin-top: 35%;
  }
}
@media (max-width: 576px) {
  .c-middle-wrapper {
    margin-top: 40px;
  }
}
.c-middle-wrapper .c-middle {
  width: 100%;
  margin-left: 25%;
  margin-right: auto;
}
.c-middle-wrapper .c-middle .c-post-img {
  width: 450px;
  height: 300px;
}
@media (max-width: 576px) {
  .c-middle-wrapper .c-middle .c-post-img {
    width: 267px;
    height: 166px;
  }
}
@media (max-width: 576px) {
  .c-middle-wrapper .c-middle {
    margin-left: 25%;
    margin-right: auto;
  }
}

.c-grid-wrapper {
  margin-top: 60px;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 10px;
}
@media (max-width: 900px) {
  .c-grid-wrapper {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .c-grid-wrapper {
    width: 335px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }
}
.c-grid-wrapper .c-grid {
  display: inline-block;
  border: 1px solid #707070;
}
@media (max-width: 900px) {
  .c-grid-wrapper .c-grid {
    display: block;
  }
}
.c-grid-wrapper .c-grid .c-post-img {
  width: 100%;
  height: 200px;
}

.c-list-wrapper {
  margin-top: 60px;
  margin-left: 50px;
  font-family: "M+ 1m";
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: #3c2a10;
}
.c-list-wrapper .c-lists {
  margin-bottom: 60px;
}
.c-list-wrapper .c-lists .c-list2 {
  margin-left: 68px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.c-list-wrapper .c-lists2 {
  margin-bottom: 60px;
}
.c-list-wrapper .c-lists2 .c-list5 {
  margin-left: 68px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.c-square-wrapper {
  position: relative;
  width: 80%;
  height: 237px;
  background: #f5f5f5;
}
@media (max-width: 900px) {
  .c-square-wrapper {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .c-square-wrapper {
    width: 100%;
  }
}
.c-square-wrapper .c-square {
  display: inline-block;
}
.c-square-wrapper .c-square pre code {
  width: 950px;
  height: 137px;
  font-family: "M+ 1m";
  font-weight: normal;
  font-size: 16px;
  color: #3c2a10;
  line-height: 23px;
}

.c-table {
  margin-top: 60px;
  background: transparent;
}
.c-table table {
  border-collapse: collapse;
  width: 80%;
  height: 305px;
}
@media (max-width: 900px) {
  .c-table table {
    width: 100%;
  }
}
.c-table .td-table {
  width: 30%;
}
.c-table table td {
  border: solid 1px black;
}

.c-button2 {
  margin-top: 60px;
  width: 429px;
  height: 104px;
}
.c-button2 button {
  width: 429px;
  height: 104px;
  border-radius: 20px;
  background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
  border: 1px solid #707070;
  display: inline-block;
  position: absolute;
}

.c-heading-text {
  margin-top: 60px;
  position: absolute;
  width: 100px;
  height: 50vh;
  font-family: "M+ 1m";
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  color: #3c2a10;
}

.c-page-img {
  position: relative;
  background-image: url(image/shop.png);
  width: 80%;
  height: 450px;
  background-size: cover;
}
.c-page-img h1 {
  position: absolute;
  top: 40%;
  left: 86px;
  font-family: "M+ 1m";
  font-weight: bold;
  font-size: 60px;
  text-align: left;
  color: #fff;
}