            .c-image {
                position: relative;
                width: 100%;
                height: 30vw;
                // background-image: url(image/hamburger.png);
                background-size: cover;
                @include tab {
                    height: 35vw;
                }
                @include sp {
                    height: 60vh;
                    background-image: url(image/hamburger2.png);
                    background-position: 60% 50%;
                }
                h3 {
                    position: absolute;
                    top: 40%;
                    left: 40px;
                    font-size: 40px;
                    color: #FFF7EF;
                    @include tab {
                        font-size: 36px;
                    }
                    &::before {
                        // content: "ダミーサイト";
                        position: absolute;
                        top: 50%;
                        left: 40px;
                        font-size: 40px;
                        color: #FFF7EF;
                        @include tab {
                            font-size: 36px;
                        }
                    }
                }
                .c-single {
                    position: relative;
                    height: 450px;
                    width: 100%;
                    @include tab {
                        width: 100%;
                        height: 500px;
                    }
                    @include sp {
                        width: 100%;
                        height: 225px;
                    }
                    &-img {
                        width: 100%;
                        height: 450px;
                        object-fit: none;
                        display: inline-block;
                        @include tab {
                            width: 100%;
                        }
                        @include sp {
                            width: 100%;
                            height: 225px;
                        }
                    }
                    .c-page-img {
                        position: relative;
                        width: 100%;
                        height: 450px;
                        background-size: cover;
                        h1 {
                            position: absolute;
                            top: 40%;
                            left: 86px;
                            font-size: 60px;
                            text-align: left;
                            color: #fff;
                        }
                    }
                    h1 {
                        position: absolute;
                        top: 40%;
                        font-size: 60px;
                        text-align: left;
                        color: #fff;
                        left: 80px;
                        @include sp {
                            left: 40px;
                            top: 45%;
                            font-size: 46px;
                        }
                    }
                }
                .c-archive-image {
                    position: relative;
                    width: 100%;
                    height: 239px;
                    background-position: right 0% top 51.5%;
                    background-size: cover;
                    background-image: url(image/archive.png);
                    @include tab {
                        width: 100%;
                        height: 239px;
                    }
                    &::before {
                        display: inline-block;
                        width: 100%;
                        height: 239px;
                        content: "";
                        background: transparent;
                        opacity: 0.5;
                        background: #000;
                    }
                    h1 {
                        position: relative;
                        font-size: 60px;
                        font-family: Roboto;
                        color: #FFF7EF;
                        top: -75%;
                        left: 86px;
                        &::after {
                            content: "チーズバーガー";
                            font-size: 16px;
                            color: #fff;
                            display: inline-block;
                            position: absolute;
                            top: 10px;
                        }
                    }
                }
            }