.c-header_text {
    background-color: #FFF7EF;
    display: inline-block;
}

.c-header_title {
    position: absolute;
    top: 30%;
    margin-left: 30px;
    color: #707070;
    font-size: 40px;
    @include tab {
        left: 30%;
        top: 15%;
    }
    @include sp {
        left: 20%;
        top: 20%;
    }
}