@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  height: 150px;
  line-height: 3;
  text-align: center;
  background-color: #9D8670;
  color: #FFFFFF;
  position: absolute;
}

footer .l-footer-nav
span {
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
}

footer .l-footer-nav
span p {
  display: inline-block;
  margin: 0px;
}

.l-form-group {
  width: 80%;
  height: 25%;
  left: 20px;
  background-color: #FFF7EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 834px) {
  .l-form-group {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 217px;
  }
}

.l-form-group h1 {
  margin: 50px;
  color: #707070;
}

@media (max-width: 834px) {
  .l-form-group h1 {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 32px;
  }
}

.l-form-group .l-form {
  position: absolute;
  top: 70px;
  width: 30%;
  right: 25%;
}

@media (max-width: 834px) {
  .l-form-group .l-form {
    top: 20%;
    left: 10%;
    width: 80%;
  }
}

.l-form-group .l-form .l-label {
  width: 65%;
  height: 30px;
  color: #F2EDE9;
  border-radius: 7px;
}

@media (max-width: 834px) {
  .l-form-group .l-form .l-label {
    width: 396px;
    height: 46px;
    display: inline-block;
  }
}

.l-form-group .l-form .l-qanda {
  width: 20%;
  height: 30px;
  border-radius: 7px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F2EDE9), to(#DED8D3));
  background: linear-gradient(to top, #F2EDE9, #DED8D3);
}

@media (max-width: 834px) {
  .l-form-group .l-form .l-qanda {
    width: 136px;
    height: 46px;
    display: inline-block;
  }
}

article {
  background-color: #F2EDE9;
  position: absolute;
  right: 0px;
  top: 0%;
  width: 20%;
  height: 100vh;
  height: 245%;
}

@media (max-width: 834px) {
  article {
    display: none;
  }
}

article .l-side {
  color: #707070;
  margin: 50px;
}

article .l-side h2 {
  margin: 60px 0 100px  0;
}

article .l-side ul li {
  list-style: none;
  line-height: 40px;
}

.c-img-list {
  padding: 0px;
  margin: 0;
  line-height: 0;
}

.c-img-list .c-image {
  position: relative;
}

.c-img-list .c-image::before {
  content: "ダミーサイト";
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF7EF;
}

@media (max-width: 834px) {
  .c-img-list .c-image::before {
    font-size: 36px;
  }
}

.c-img-list .c-sample {
  width: 80%;
  height: auto;
}

@media (max-width: 834px) {
  .c-img-list .c-sample {
    width: 100%;
  }
}

.c-sample2 {
  width: 30%;
  padding: 40px;
}

@media (max-width: 834px) {
  .c-sample2 {
    width: 40%;
    padding: 25px;
  }
}

.c-sample3 {
  width: 30%;
  padding: 40px;
}

@media (max-width: 834px) {
  .c-sample3 {
    width: 40%;
    padding: 25px;
  }
}

.c-example {
  height: auto;
  position: relative;
}

.c-example span {
  position: absolute;
  top: 80px;
  left: 70px;
  font-size: 1.5em;
  font-weight: bold;
  color: #FFF7EF;
  z-index: 10;
}

@media (max-width: 834px) {
  .c-example span {
    top: 40px;
  }
}

.c-example p {
  position: absolute;
  top: 180px;
  left: 70px;
  z-index: 10;
  line-height: 1.5em;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  width: 450px;
  height: 350px;
  line-height: 1.5rem;
}

@media (max-width: 834px) {
  .c-example p {
    top: 80px;
  }
}

.c-example::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: rgba(66, 64, 64, 0.5);
  left: 0;
  top: 0;
  display: block;
}

@media (max-width: 834px) {
  .c-example::after {
    width: 100%;
  }
}

.c-example::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  left: 70px;
  top: 150px;
  z-index: 10;
}

@media (max-width: 834px) {
  .c-example::before {
    top: 70px;
  }
}

.c-sample4 {
  width: 80%;
  height: auto;
  background-color: black;
}

@media (max-width: 834px) {
  .c-sample4 {
    width: 100%;
  }
}
/*# sourceMappingURL=sample.css.map */