.o-button {
    display: none;
    @include tab {
        font-family: Roboto;
        font-weight: bold;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 40px;
        right: 30px;
        font-size: 34px;
        color: #707070;
        @include sp {
            font-size: 20px;
            top: 25px;
        }
    }
}

.c-button_wrapper {
    position: absolute;
    top: 75%;
    right: 10%;
    width: 300px;
    @include tab {
        top: 80%;
        right: 15%;
    }
    @include sp {
        right: 0;
        width: 100%;
        height: 50vh;
        top: 90%;
    }
    .button-top {
        width: 240px;
        height: 76px;
        display: inline-block;
        background: transparent;
        border-radius: 45px;
        background-color: #fff;
        font-family: "M+ 1m";
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;
        color: #707070;
        @include tab {
            width: 150px;
            height: 45.47px;
            background: transparent;
            background-color: #fff;
        }
    }
}

.c-button2 {
    margin-top: 60px;
    width: 429px;
    height: 104px;
    button {
        width: 429px;
        height: 104px;
        border-radius: 20px;
        background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
        border: 1px solid #707070;
        display: inline-block;
        position: absolute;
    }
}