.o-button {
    display: none;
}

.o-dli-close {
    display: none;
}

@media (max-width: 834px) {
    .o-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 34px;
        color: #707070;
    }
    //     .o-dli-close {
    //         display: inline-block;
    //         vertical-align: middle;
    //         color: #333;
    //         line-height: 1;
    //         width: 1em;
    //         height: 0.1em;
    //         background: currentColor;
    //         border-radius: 0.1em;
    //         position: relative;
    //         transform: rotate(45deg);
    //         z-index: 20;
    //         &::before {
    //             content: '';
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             width: 100%;
    //             height: 100%;
    //             background: inherit;
    //             border-radius: inherit;
    //             transform: rotate(90deg);
    //             z-index: 20;
    //         }
    //     }
}