.c-module {
    position: relative;
    width: 100%;
    display: flex;
    .l-main {
        width: 80%;
        @include tab {
            width: 100%;
        }
        .c-image {
            position: relative;
            line-height: 0;
            width: 100%;
            height: 30vw;
            background-image: url(image/hamburger.png);
            background-size: cover;
            @include tab {
                width: 100%;
                height: 35vw;
            }
            @include sp {
                width: 100%;
                height: 60vh;
                background-image: url(image/hamburger2.png);
                background-position: 60% 50%;
                background-size: cover;
            }
            // }
            &::before {
                content: "ダミーサイト";
                position: absolute;
                top: 50%;
                left: 40px;
                font-size: 40px;
                font-weight: bold;
                color: #FFF7EF;
                @include tab {
                    font-size: 36px;
                }
                @include sp {}
            }
        }
        // .c-img-list {
        //     line-height: 0;
        //     // display: flex;
        //     margin: 20px;
        //     // width: 100%;
        //     @include tab {}
        //     .c-flex {
        //         @include sp {
        //             display: block;
        //         }
        //         .c-img-left {
        //             position: relative;
        //             width: 90%;
        //             @include tab {
        //                 width: 60%;
        //                 font-size: 55px;
        //                 margin: 5% 3%;
        //             }
        //             @include sp {
        //                 width: 85%;
        //                 margin: 30px 0 10px 40px;
        //             }
        .c-img {
            width: 100%;
            .c-img-left {
                display: flex;
                .c-sample-img {
                    position: relative;
                    margin: 50px 60px;
                    width: 550px;
                    height: 1000px;
                    .c-sample {
                        width: 100%;
                        height: 920px;
                        object-fit: cover;
                    }
                    .c-EatIn {
                        width: 100%;
                        height: 920px;
                        object-fit: cover;
                    }
                    & p {
                        position: absolute;
                        display: inline-block;
                        top: 0%;
                        left: 10%;
                        font-size: 55px;
                        color: #FFF7EF;
                        font-family: Roboto;
                        @include tab {
                            font-size: 55px;
                        }
                        &::before {
                            content: "";
                            display: inline-block;
                            width: 60px;
                            height: 5px;
                            background-color: #FFFFFF;
                            position: absolute;
                            top: 50px;
                        }
                    }
                }
            }
            .c-out-img {
                position: absolute;
                top: 50%;
                left: 5%;
                width: 30%;
                margin-left: 1%;
                margin-right: auto;
                .c-out1 {
                    position: absolute;
                    // margin-left: 2%;
                    // margin-right: auto;
                    width: 95%;
                    height: 170px;
                    background-color: #ffffff;
                    background-color: rgba(247, 247, 247, 0.767);
                    h4 {
                        font-weight: bold;
                        font-family: "M+ 1m";
                        padding-left: 5px;
                        display: inline-block;
                        font-size: 24px;
                    }
                    p {
                        position: absolute;
                        display: inline-block;
                        top: 45%;
                        left: 2%;
                        // margin-left: 2%;
                        // margin-right: auto;
                        font-family: regular;
                        font-size: 16px;
                        line-height: 1.0;
                    }
                }
                .c-out2 {
                    position: absolute;
                    box-sizing: border-box;
                    display: block;
                    margin-top: 45%;
                    background-color: #FFFFFF;
                    background-color: rgba(247, 247, 247, 0.767);
                    margin-left: auto;
                    margin-right: auto;
                    width: 95%;
                    height: 170px;
                    h4 {
                        padding-left: 5px;
                        font-size: 24px;
                        display: inline-block;
                        font-weight: bold;
                        font-family: "M+ 1m";
                    }
                    p {
                        position: absolute;
                        display: inline-block;
                        top: 45%;
                        left: 2%;
                        // margin-left: 2%;
                        // margin-right: auto;
                        font-family: regular;
                        font-size: 16px;
                        line-height: 1.0;
                    }
                }
            }
        }
        // }
        // }
        // }
        // }
        // .c-img-right {
        //     position: relative;
        //     width: 70%;
        //     height: 1193px;
        //     @include tab {
        //         width: 60%;
        //         margin: 5% 3%;
        //         font-size: 55px;
        //     }
        //     @include sp {
        //         width: 85%;
        //         margin: 30px 0 10px 40px;
        //     }
        //     .c-img {
        //         position: relative;
        //         width: 50%;
        //         .c-EatIn {
        //             position: absolute;
        //             object-fit: cover;
        //             width: 100%;
        //             height: auto;
        //         }
        //         & p {
        //             display: inline-block;
        //             top: 0%;
        //             left: 10%;
        //             font-size: 55px;
        //             position: absolute;
        //             color: #FFF7EF;
        //             font-family: Roboto;
        //             &::before {
        //                 content: "";
        //                 display: inline-block;
        //                 width: 60px;
        //                 height: 5px;
        //                 background-color: #FFFFFF;
        //                 position: absolute;
        //                 top: 50px;
        //             }
        //         }
        // .c-eat-img {
        //     position: absolute;
        //     top: 68%;
        //     width: 100%;
        //     height: 148px;
        //     .c-eat1 {
        //         display: block;
        //         margin-left: auto;
        //         margin-right: auto;
        //         width: 95%;
        //         height: 148px;
        //         background-color: #FFFFFF;
        //         background-color: rgba(247, 247, 247, 0.767);
        //         h4 {
        //             padding-left: 5px;
        //             display: inline-block;
        //             font-size: 24px;
        //             font-weight: bold;
        //             font-family: "M+ 1m";
        //         }
        //         p {
        //             margin-left: 2%;
        //             margin-right: auto;
        //             font-family: regular;
        //             font-size: 16px;
        //             line-height: 1.0;
        //             @include sp {
        //                 margin-left: 6%;
        //                 margin-right: 6%;
        //                 font-size: 16px;
        //             }
        //         }
        //     }
        //     .c-eat2 {
        //         display: block;
        //         margin-top: 5%;
        //         margin-left: auto;
        //         margin-right: auto;
        //         width: 95%;
        //         height: 148px;
        //         background-color: #FFFFFF;
        //         background-color: rgba(247, 247, 247, 0.767);
        //         h4 {
        //             padding-left: 5px;
        //             display: inline-block;
        //             font-size: 24px;
        //             font-weight: bold;
        //             font-family: "M+ 1m";
        //         }
        //         p {
        //             margin-left: 2%;
        //             margin-right: auto;
        //             font-family: "M+ 1m";
        //             font-size: 16px;
        //             line-height: 1.0;
        //             font-weight: regular;
        //         }
        // }
        // }
        // }
        // }
        // }
        // }
        .c-map {
            width: 100%;
            height: 649px;
            position: relative;
            line-height: 0;
            background-color: black;
            background-image: url(image/mapping.png);
            background-size: cover;
            @include tab {
                width: 100%;
                height: 415px;
            }
            @include sp {
                width: 100%;
                height: 691px;
            }
            .c-heading {
                position: absolute;
                display: block;
                width: 60%;
                height: 649px;
                background: rgba(66, 64, 64, 0.5);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 5;
                @include tab {
                    width: 100%;
                    height: 415px;
                }
                @include sp {
                    width: 100%;
                    height: 415px;
                    background: rgba(66, 64, 64, 0.5);
                }
                span {
                    position: absolute;
                    top: 15%;
                    left: 70px;
                    font-size: 36px;
                    font-weight: bold;
                    color: #FFF7EF;
                    &::before {
                        content: "";
                        display: block;
                        width: 60px;
                        height: 1px;
                        background-color: #FFFFFF;
                        position: absolute;
                        top: 75.5px;
                        z-index: 10;
                        @include tab {
                            top: 40px;
                        }
                        @include sp {
                            top: 60px;
                        }
                    }
                    @include tab {
                        top: 40;
                        left: 42px;
                    }
                    @include sp {}
                }
                // .text {
                //     position: absolute;
                //     top: 10%;
                //     width: 90%;
                //     height: 356px;
                //     @include tab {
                //         width: 763px;
                //         height: 356px;
                //         top: 0%;
                //     }
                @include sp {}
                p {
                    position: absolute;
                    top: 200px;
                    left: 70px;
                    width: 80%;
                    height: 356px;
                    display: inline-block;
                    line-height: 1.7em;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: "M+ 1m";
                    @include tab {
                        top: 35%;
                        width: 90%;
                        left: 42px;
                    }
                    @include sp {
                        line-height: 40px;
                        width: 400px;
                        top: 140px;
                        font-size: 14px;
                        font-weight: bold;
                        font-family: "M+ 1m";
                    }
                }
                // }
            }
        }
    }
}

.c-archive-image {
    position: relative;
    width: 80%;
    height: 239px;
    background-position: right 0% top 51.5%;
    background-size: cover;
    background-image: url(image/archive.png);
    @include tab {
        width: 100%;
        height: 239px;
    }
    &::before {
        display: inline-block;
        width: 100%;
        height: 239px;
        content: "";
        background: transparent;
        opacity: 0.5;
        background: #000;
    }
    h1 {
        position: relative;
        font-weight: bold;
        font-size: 60px;
        font-family: Roboto;
        color: #FFF7EF;
        top: -75%;
        left: 86px;
        &::after {
            content: "チーズバーガー";
            font-family: "M+ 1m";
            font-weight: bold;
            font-size: 16px;
            color: #fff;
            display: inline-block;
            position: absolute;
            top: 10px;
        }
    }
}

article {
    margin-top: 60px;
    margin-left: 40px;
    color: #3c2a10;
    font-family: "M+ 1m";
    font-weight: bold;
    @include tab {
        margin-left: 35px;
    }
    .c-info {
        h2 {
            font-size: 36px;
            text-align: left;
        }
        p {
            display: inline-block;
            width: 80%;
            height: 71px;
            font-weight: normal;
            font-size: 16px;
            text-align: left;
            line-height: 23px;
            @include tab {
                width: 95%;
                height: 100px;
            }
        }
    }
    .c-top {
        background-color: #3c2a10;
        margin-top: 70px;
        position: relative;
        width: 80%;
        height: 70vh;
        @include tab {
            width: 95%;
            height: 70vh;
        }
        h3 {
            position: absolute;
            top: 7%;
            left: 53%;
            font-size: 26px;
            text-align: left;
            color: #fff;
            @include tab {
                top: 20px;
                font-size: 20px;
            }
        }
        span {
            position: absolute;
            top: 33%;
            left: 53%;
            font-family: "M+ 1m";
            font-weight: bold;
            font-size: 20px;
            text-align: left;
            color: #fff;
            @include tab {
                top: 100px;
                font-size: 16px;
            }
        }
        p {
            display: inline-block;
            position: absolute;
            top: 38%;
            left: 53%;
            width: 40%;
            height: 73px;
            font-family: "M+ 1m";
            font-weight: normal;
            font-size: 16px;
            text-align: left;
            color: #fff;
            line-height: 23px;
            @include tab {
                top: 110px;
                font-size: 16px;
            }
        }
        .c-button_wrapper {
            position: absolute;
            top: 75%;
            text-align: center;
            right: 10%;
            width: 300px;
            @include tab {
                right: 5%;
            }
            .button-top {
                width: 252px;
                height: 76px;
                display: inline-block;
                background: transparent;
                border-radius: 45px;
                background-color: #fff;
                @include tab {
                    width: 163.16px;
                    height: 45.47px;
                    background: transparent;
                    background-color: #fff;
                }
            }
        }
        .c-mune-top {
            position: absolute;
            background-image: url(image/mune-top.png);
            width: 50%;
            height: 70vh;
            background-size: cover;
            @include tab {
                width: 50%;
                height: 70vh;
            }
        }
    }
}

.c-single {
    position: relative;
    width: 80%;
    height: 500px;
    @include tab {
        width: 100%;
        height: 500px;
    }
    @include sp {
        width: 100%;
        height: 225px;
    }
    .c-single-img {
        width: 100%;
        height: 500px;
        object-fit: none;
        @include tab {
            width: 100%;
        }
        @include sp {
            width: 100%;
            height: 225px;
        }
    }
    h1 {
        position: absolute;
        top: 40%;
        font-family: "M+ 1m";
        font-weight: bold;
        font-size: 60px;
        text-align: left;
        color: #fff;
        left: 80px;
        @include sp {
            left: 40px;
            top: 45%;
            font-size: 46px;
        }
    }
}

.container {
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 35px;
    font-family: "M+ 1m";
    font-weight: bold;
    color: #3c2a10;
    @include sp {
        margin-top: 10px;
    }
    .wapper {
        margin-left: 0px;
        margin-bottom: 60px;
        h2 {
            margin-bottom: 40px;
            display: block;
            font-size: 36px;
            text-align: left;
            @include sp {
                margin-bottom: 30px;
            }
        }
        p {
            margin-bottom: 40px;
            line-height: 23px;
            width: 80%;
            height: 71px;
            display: inline-block;
            font-weight: normal;
            font-size: 16px;
            text-align: left;
            overflow: hidden;
            @include tab {
                width: 90%;
            }
            @include sp {
                height: 183px;
            }
        }
    }
    h3 {
        margin-bottom: 80px;
        display: block;
        font-size: 28px;
        // text-align: left;
    }
    // h4 {
    //     margin-bottom: 80px;
    //     display: block;
    //     font-size: 20px;
    //     text-align: left;
    // }
    // h5 {
    //     margin-bottom: 80px;
    //     display: block;
    //     font-size: 20px;
    //     text-align: left;
    // }
    // h6 {
    //     margin-bottom: 80px;
    //     display: block;
    //     font-size: 20px;
    //     text-align: left;
    // }
    .c-quotes {
        position: relative;
        background: #f5f5f5;
        width: 80%;
        height: 319px;
        font-family: "M+ 1m";
        font-weight: normal;
        font-size: 16px;
        // text-align: left;
        color: #3c2a10;
        @include tab {
            width: 100%;
            height: 444px;
        }
        @include sp {
            width: 100%;
            height: 617px;
        }
        p {
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 25px;
            width: 90%;
            height: 137px;
            font-size: 16px;
            text-align: left;
            overflow: hidden;
            @include tab {
                width: 90%;
                height: 252px;
                top: 30px;
                left: 30px;
            }
            @include sp {
                top: 20px;
                left: 20px;
                width: 90%;
                height: 510px;
            }
        }
        span {
            position: absolute;
            display: inline-block;
            top: 280px;
            left: 50px;
            @include tab {
                top: 400px;
                left: 30px;
            }
            @include sp {
                top: 580px;
                left: 20px;
            }
        }
    }
}

// .related-wrapper {
.related {
    position: relative;
    .img-related {
        width: 80%;
        height: 400px;
        background-size: cover;
        @include tab {
            width: 100%;
            height: 264px;
        }
    }
}

.c-post-wrapper {
    margin-top: 60px;
    width: 100%;
    height: 250px;
    @include sp {
        width: 100%;
        height: 160px;
        margin-top: 30px;
    }
    .c-post {
        display: flex;
        width: 100%;
        .c-post-img {
            background-size: cover;
            width: 40%;
            height: auto;
            border: 1px solid #707070;
            @include tab {
                width: 306px;
            }
            @include sp {
                width: 146px;
                height: 89px;
            }
        }
        @include tab {}
        .c-text {
            margin-top: 0;
            margin-left: 20px;
            display: inline-block;
            width: 40%;
            height: 191px;
            font-family: "M+ 1m";
            font-weight: normal;
            font-size: 16px;
            color: #3c2a10;
            line-height: 23px;
            @include tab {
                width: 50%;
            }
            @include sp {
                width: 337px;
                height: 164px;
                overflow: hidden;
            }
        }
    }
}

.c-text-wrapper {
    margin-top: 7%;
    width: 100%;
    height: 350px;
    @include tab {
        margin-top: 30%;
    }
    @include sp {
        width: 100%;
        height: 160px;
        margin-top: 30px;
    }
    .c-text-left {
        margin-top: 0;
        display: block;
        width: 40%;
        height: 191px;
        font-family: "M+ 1m";
        font-weight: normal;
        font-size: 16px;
        color: #3c2a10;
        line-height: 23px;
        @include tab {
            width: 50%;
        }
        @include sp {
            width: 337px;
            height: 164px;
            overflow: hidden;
        }
    }
    .c-post-right {
        display: flex;
        width: 100%;
        .c-post-img {
            margin-left: 20px;
            width: 40%;
            height: auto;
            border: 1px solid #707070;
            @include tab {
                width: 306px;
            }
            @include sp {
                width: 146px;
                height: 89px;
            }
        }
    }
}

.c-middle-wrapper {
    width: 80%;
    @include tab {
        margin-top: 35%;
    }
    @include sp {
        margin-top: 40px;
    }
    .c-middle {
        width: 100%;
        margin-left: 25%;
        margin-right: auto;
        .c-post-img {
            width: 450px;
            height: 300px;
            @include sp {
                width: 267px;
                height: 166px;
            }
        }
        @include sp {
            margin-left: 25%;
            margin-right: auto;
        }
    }
}

.c-grid-wrapper {
    margin-top: 60px;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 10px;
    @include tab {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    @include sp {
        width: 335px;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
    }
    .c-grid {
        display: inline-block;
        border: 1px solid #707070;
        @include tab {
            display: block;
        }
        .c-post-img {
            width: 100%;
            height: 200px;
        }
    }
}

.c-list-wrapper {
    margin-top: 60px;
    margin-left: 50px;
    font-family: "M+ 1m";
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    color: #3c2a10;
    .c-lists {
        margin-bottom: 60px;
        .c-list2 {
            margin-left: 68px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    .c-lists2 {
        margin-bottom: 60px;
        .c-list5 {
            margin-left: 68px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}

.c-square-wrapper {
    position: relative;
    width: 80%;
    height: 237px;
    background: #f5f5f5;
    @include tab {
        width: 100%;
    }
    @include sp {
        width: 100%;
    }
    .c-square {
        display: inline-block;
        pre {
            code {
                width: 950px;
                height: 137px;
                font-family: "M+ 1m";
                font-weight: normal;
                font-size: 16px;
                // text-align: left;
                color: #3c2a10;
                line-height: 23px;
            }
        }
    }
}

.c-table {
    margin-top: 60px;
    background: transparent;
    table {
        border-collapse: collapse;
        width: 80%;
        height: 305px;
        @include tab {
            width: 100%;
        }
    }
    .td-table {
        width: 30%;
    }
    table td {
        border: solid 1px black;
    }
}

.c-button2 {
    margin-top: 60px;
    width: 429px;
    height: 104px;
    button {
        width: 429px;
        height: 104px;
        border-radius: 20px;
        background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
        border: 1px solid #707070;
        display: inline-block;
        position: absolute;
    }
}

.c-heading-text {
    margin-top: 60px;
    position: absolute;
    width: 100px;
    height: 50vh;
    font-family: "M+ 1m";
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color: #3c2a10;
}

.c-page-img {
    position: relative;
    background-image: url(image/shop.png);
    width: 80%;
    height: 450px;
    background-size: cover;
    h1 {
        position: absolute;
        top: 40%;
        left: 86px;
        font-family: "M+ 1m";
        font-weight: bold;
        font-size: 60px;
        text-align: left;
        color: #fff;
    }
}