article {
    color: #3c2a10;
    @include sp {
        margin-right: 0px;
    }
    .p-article__title {
        h2 {
            font-size: 36px;
            text-align: left;
        }
        p {
            display: inline-block;
            width: 100%;
            height: 71px;
            font-weight: normal;
            font-size: 16px;
            text-align: left;
            line-height: 23px;
            @include tab {
                width: 95%;
                height: 100px;
            }
        }
    }
    .p-lead {
        background-color: #3c2a10;
        margin-top: 70px;
        position: relative;
        width: 100%;
        height: 70vh;
        text-align: right;
        @include tab {
            width: 95%;
            height: 70vh;
        }
        @include sp {
            width: 95%;
            height: 120vh;
            text-align: center;
        }
        .c-food {
            position: absolute;
            top: 7%;
            left: 53%;
            font-size: 26px;
            text-align: left;
            color: #fff;
            @include tab {
                top: 20px;
                font-size: 20px;
            }
            @include sp {
                display: none;
            }
        }
        h3 {
            @extend .c-food;
            @include sp {
                display: none;
            }
        }
        h4 {
            display: none;
            @include tab {
                display: none;
            }
            @include sp {
                display: block;
                position: absolute;
                font-size: 26px;
                text-align: left;
                color: #fff;
                top: 45%;
                left: 10%;
            }
        }
        span {
            position: absolute;
            top: 33%;
            left: 53%;
            font-size: 20px;
            text-align: left;
            color: #fff;
            @include tab {
                top: 100px;
                font-size: 16px;
            }
            @include sp {
                left: 10%;
                top: 58%;
            }
        }
        p {
            display: inline-block;
            position: absolute;
            top: 38%;
            left: 53%;
            width: 40%;
            height: 73px;
            font-weight: normal;
            font-size: 16px;
            text-align: left;
            color: #fff;
            line-height: 23px;
            @include tab {
                top: 110px;
                font-size: 16px;
            }
            @include sp {
                width: 65%;
                height: 73px;
                left: 10%;
                top: 60%;
            }
        }
        .c-mune-top {
            position: absolute;
            background-image: url(image/mune-top.png);
            width: 50%;
            height: 70vh;
            background-size: cover;
            @include sp {
                width: 100%;
                height: 50vh;
            }
        }
    }
}