    .p-side {
        &_menu {
            color: #707070;
            font-weight: normal;
            padding: 0px 0 40px 30px;
            @include tab {
                padding-top: 150px;
            }
            h2 {
                margin: 0;
                padding: 50px 0px 30px 0px;
                @include tab {
                    display: none;
                }
            }
            ul#menu-side-menu {
                padding: 20px 0 0 10px;
                li.menu-item {
                    color: #707070;
                    font-weight: normal;
                    list-style: none;
                    line-height: 35px;
                }
            }
        }
    }